<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
        
        <main id="pd_main-container">
                <div class="container">
                    <div class="link-ruta">
                        <nav>
                            <ul>
                                <li>></li>
                                <li><a href="/"><strong>Atras</strong></a></li>
                                <li>/</li>
                                <li><a href="/admin">Administrador</a></li>   
                            </ul>
                        </nav>
                    </div>
                    <div class="pd_tit-categoria">Categorías </div>
                </div>

            <section id="pd_listado-products" >
                <div class="container">
                    <p style="display: none;">Categoría: <%= categories.name %> </p>

    <form action="/category/update/<%= categories.id %>?_method=PUT" method="POST">
        <label for="title">Modificar Categoría</label>
        <p><input type="text" name="name" id="" value="<%= categories.name %>" required></p>
        <button type="submit" class="pd_gl-cta pd_gl-cta--primary">
            <span class="pd_gl-cta__content">
                Editar Categoría
            </span>
        </button>
    </form>
    <br><hr><br>
    <div class="flex">
    <form onSubmit="return confirm('¿Estas seguro de querer borrar la categoría <%= categories.name %>?') " action="/category/destroy/<%= categories.id %>?_method=DELETE" method="POST">
        <button type="submit" class="pd_gl-cta pd_gl-cta--primary">
            <span class="pd_gl-cta__content">
                Eliminar Categoría
            </span>
        </button>
    </form>
    <br><br>
    <button type="submit" class="pd_gl-cta pd_gl-cta--primary p20">
        <span class="pd_gl-cta__content">
            <a  class="botonVolver" href="/category">Listado de Categorías</a>
        </span>
    </button>
</div>
                </div>
            </section>

            
        
            <%- include('../partials/newsletter') %>

            <%- include('../partials/prefooter') %>
        </main>
        
        <%- include('../partials/footer') %>

        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    </body>
</html>