<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body class="register">
    
    <%- include('../partials/header') %>

        <main id="pd_main-container">
            <section id="pd_main-producto_">
                <div class="container">
                    <br>
                    <div class="pd_tit-categoria p40">Alta de producto</div>
                    
                    <div class="pd_producto-img">
                        <div class="pd_prod-left">
                            <form action="/product/create" method="POST" enctype="multipart/form-data">
                                <div class="fr_nombre">
                                    <label for="categoryId" class="fr_lbltexto"> Categoria </label>
                                    <select name="categoryId" id="" class="control <%= locals.errors && errors.categoryId ? 'is-invalid' : null %>">
                                        <option value="" disabled selected>- Seleccione una categoria - </option>
                                        <% allCategories.forEach(category => { %>
                                        <option value="<%= category.id %>"
                                            <% if (locals.oldData && oldData.categoryId == category.id) { %>
                                                selected="selected" 
                                            <% } %>>
                                            <%= category.name %>
                                        </option>
                                        <% }); %>
                                    </select>
                                    <% if(locals.errors && errors.categoryId){ %>
                                        <div class="is-invalid"><%= errors.categoryId.msg %></div>
                                    <% } %>
                                </div>
                                <div class="fr_nombre">
                                    <label for="brandId" class="fr_lbltexto"> Marca </label>
                                    <select name="brandId" id="" class="control <%= locals.errors && errors.brandId ? 'is-invalid' : null %>">
                                        <option value="" disabled selected>- Seleccione una marca - </option>
                                        <% allBrands.forEach(brand => { %>
                                        <option value="<%= brand.id %>"
                                            <% if (locals.oldData && oldData.brandId == brand.id) { %>
                                                selected="selected" 
                                            <% } %>>
                                            <%= brand.name %>
                                        </option>
                                        <% }); %>
                                    </select>
                                    <% if(locals.errors && errors.brandId){ %>
                                        <div class="is-invalid"><%= errors.brandId.msg %></div>
                                    <% } %>
                                </div>
                                <div class="fr_nombre">
                                    <label class="fr_lbltexto" for="name">Nombre</label>
                                    <input type="text" name="name" id="name" value="<%= locals.oldData ? oldData.name : null %>" class="control <%= locals.errors && errors.name ? 'is-invalid' : null %>">
                                     <% if (locals.errors && errors.name) { %>
                                        <div class="is-invalid"> <%= errors.name.msg %></div>
                                        <% } %>
                                </div>
                                <div class="fr_email">
                                    <label class="fr_lbltexto" for="description"> Descripción </label>
                                    <input type="textarea" name="description" id="" value="<%= locals.oldData ? oldData.description : null %>" class="control <%= locals.errors && errors.name ? 'is-invalid' : null %>">
                                    <% if (locals.errors && errors.description) { %>
                                        <div class="is-invalid"> <%= errors.description.msg %></div>
                                        <% } %>
                                </div>
                                <div class="fr_email">
                                    <label class="fr_lbltexto" for="extended"> Descripción ampliada</label>
                                    <textarea name="extended_description" id="" class="control <%= locals.errors && errors.extended_description ? 'is-invalid' : null %>"><%= locals.oldData ? oldData.extended_description : null %></textarea>
                                    <% if (locals.errors && errors.extended_description) { %>
                                        <div class="is-invalid"> <%= errors.extended_description.msg %></div>
                                        <% } %>
                                </div>
                                <div class="fr_email">
                                    <label class="fr_lbltexto" for="price"> Precio </label>
                                    <input type="text" name="price" id="" value="<%= locals.oldData ? oldData.price : null %>" class="control <%= locals.errors && errors.price ? 'is-invalid' : null %>">
                                    <% if (locals.errors && errors.price) { %>
                                        <div class="is-invalid"> <%= errors.price.msg %></div>
                                        <% } %>
                                </div>
                                <div class="fr_email">
                                    <label for="colorId" class="fr_lbltexto"> Color </label>
                                    <select name="colorId" id="" class="control <%= locals.errors && errors.colorId ? 'is-invalid' : null %>">
                                        <option value="" disabled selected>- Seleccione un color- </option>
                                        <% allColors.forEach(color => { %>
                                        <option value="<%= color.id %>"
                                            <% if (locals.oldData && oldData.colorId == color.id) { %>
                                                selected="selected" 
                                            <% } %>>
                                            <%= color.name %>
                                        </option>
                                        <% }); %>
                                    </select>
                                    <% if (locals.errors && errors.colorId) { %>
                                        <div class="is-invalid"> <%= errors.colorId.msg %></div>
                                        <% } %>
                                </div>
                                <div class="fr_email">
                                    <label for="sizeId" class="fr_lbltexto"> Talle </label>
                                    <select name="sizeId" id="" class="control <%= locals.errors && errors.sizeId ? 'is-invalid' : null %>">
                                        <option value="" disabled selected>- Seleccione un talle- </option>
                                        <% allSizes.forEach(size => { %>
                                        <option value="<%= size.id %>"
                                            <% if (locals.oldData && oldData.sizeId == size.id) { %>
                                                selected="selected" 
                                            <% } %>>
                                            <%= size.name %>
                                        </option>
                                        <% }); %>
                                    </select>
                                    <% if (locals.errors && errors.sizeId) { %>
                                        <div class="is-invalid"> <%= errors.sizeId.msg %></div>
                                        <% } %>
                                </div>
                                <div class="fr_email">
                                    <label class="fr_lbltexto" for="stock"> Stock</label>
                                    <input type="text" name="stock" id="" value="<%= locals.oldData ? oldData.stock : null %>" class="control <%= locals.errors && errors.stock ? 'is-invalid' : null %>">
                                    <% if (locals.errors && errors.stock) { %>
                                        <div class="is-invalid"> <%= errors.stock.msg %></div>
                                        <% } %>
                                </div>
                                <div class="fr_email">
                                    <label class="fr_lbltexto" for="stock_min"> Stock Minimo</label>
                                    <input type="text" name="stock_min" id="">
                                </div>
                                <div class="fr_email">
                                    <label class="fr_lbltexto" for="stock_max"> Stock Maximo</label>
                                    <input type="text" name="stock_max" id="">
                                </div>
                                <div class="fr_email">
                                    <label class="fr_lbltexto" for="image1"> Imagen 1 de producto </label>
                                    <input type="file" name="image1" id="image1" value="<%= locals.oldData ? oldData.image1 : null %>"  class="control <%= locals.errors && errors.image1 ? 'is-invalid' : null %>">
                                    <input 
                                    type="hidden" 
                                    name="oldImage" 
                                    value="<%= locals.oldData ? oldData.image1 : null  %>"
                                >
                                    <% if (locals.errors && errors.image1) { %>
                                        <div class="is-invalid"> <%= errors.image1.msg %></div>
                                        <% } %>
                                </div>
                                <div class="fr_email">
                                    <label class="fr_lbltexto" for="image2"> Imagen 2 de producto </label>
                                    <input type="file" name="image2" id="image2" >
                                </div>
                                <div class="fr_email">
                                    <label class="fr_lbltexto" for="image3"> Imagen 3 de producto </label>
                                    <input type="file" name="image3" id="image3"  >
                                </div>
                                <div class="fr_email">
                                    <label class="fr_lbltexto" for="image4"> Imagen 4 de producto </label>
                                    <input type="file" name="image4" id="image4"  >
                                </div>
                                <div class="fr_email">
                                    <label class="fr_lbltexto" for="image5"> Imagen 5 de producto </label>
                                    <input type="file" name="image5" id="image5"  >
                                </div>
                                <div class="fr_email check-x">
                                    <label for="home" class="fr_lbltexto"> Destacado Home </label> 
                                      <input type="checkbox" name="home" id="" >
                            </div>
                            <div class="fr_email">
                                <label for="visibilityId" class="fr_lbltexto"> Visibilidad </label>
                                <select name="visibilityId" id="" class="control <%= locals.errors && errors.visibilityId ? 'is-invalid' : null %>">
                                    <option value="" disabled selected>- Seleccione Visibilidad del producto- </option>
                                    <% allVisibilities.forEach(visibility => { %>
                                    <option value="<%= visibility.id %>"
                                        <% if (locals.oldData && oldData.visibilityId == visibility.id) { %>
                                            selected="selected" 
                                        <% } %>>
                                        <%= visibility.name %>
                                    </option>
                                    <% }); %>
                                </select>
                                <% if (locals.errors && errors.visibilityId) { %>
                                    <div class="is-invalid"> <%= errors.visibilityId.msg %></div>
                                    <% } %>
                            </div>
                                <!--</div>-->
                                <br><br><br>
                                <div class="fr_registro">
                                    <div class="fr_registro-left">
                                        <button type="submit" class="pd_gl-cta pd_gl-cta--primary">
                                            <span class="pd_gl-cta__content">
                                                Crear
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </form> 
                        </div>
                    </div>
                </div>
            </section>

            <section id="pd_detalle"></section>

            <%- include('../partials/newsletter') %>

            <%- include('../partials/prefooter') %>
        </main>

        <%- include('../partials/footer') %>

            <!-- Bootstrap Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
                crossorigin="anonymous"></script>

</body>

</html>