<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body class="register">
    
    <%- include('../partials/header') %>

        <main id="pd_main-container">
            <section id="pd_main-producto_">
                <div class="container">
                    <br>
                    <div class="pd_tit-categoria p40">Editar producto</div>
                    
                    <div class="pd_producto-img">
                        <div class="pd_prod-left">
                            <form action="/product/update/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                                <div class="fr_nombre">
                                    <label class="fr_lbltexto" for="categoryId" > Categoria </label>
                                    <select name="categoryId" id="" required>
                                        <option value="0" disabled>- Seleccione una categoria - </option>
                                        <% allCategories.forEach(category => { %>
                                        <option value="<%= category.id %>"<% if (product.categoryId == category.id) { %> <%= 'selected' %><% }; %>><%= category.name %></option>
                                        <% }); %>
                                    </select>
                                </div>
                                <div class="fr_nombre">
                                    <label for="brandId" class="fr_lbltexto"> Marca </label>
                                    <select name="brandId" id="" required>
                                        <option value="0" disabled>- Seleccione una marca - </option>
                                        <% allBrands.forEach(brand => { %>
                                        <option value="<%= brand.id %>"<% if (product.brandId == brand.id) { %><%= 'selected' %><% }; %>><%= brand.name %></option>
                                        <% }); %>
                                    </select>
                                </div>
                                <div class="fr_nombre">
                                    <label class="fr_lbltexto" for="name">Nombre</label>
                                    <input type="text" name="name" id="" value="<%= product.name %>" required>
                                </div>
                                <div class="fr_email">
                                    <label class="fr_lbltexto" for="description"> Descripción </label>
                                    <input type="textarea" name="description" id="" value="<%= product.description %>" required>
                                </div>
                                <div class="fr_email">
                                    <label class="fr_lbltexto" for="extended"> Descripción ampliada</label>
                                    <textarea name="extended_description" id=""><%= product.extended_description %></textarea>
                                </div>
                                <div class="fr_email">
                                    <label class="fr_lbltexto" for="price"> Precio </label>
                                    <input type="text" name="price" id="" value="<%= product.price %>" required>
                                </div>
                                <div class="fr_email">
                                    <label for="colorId" class="fr_lbltexto"> Color </label>
                                    <select name="colorId" id="" required>
                                        <option value="0" disabled>- Seleccione un color- </option>
                                        <% allColors.forEach(color => { %>
                                        <option value="<%= color.id %>"<% if (product.colorId == color.id) { %><%= 'selected' %><% }; %>><%= color.name %></option>
                                        <% }); %>
                                    </select>
                                </div>
                                
                                <div class="fr_email">
                                    <label for="sizeId" class="fr_lbltexto"> Talle </label>
                                    <select name="sizeId" id="" required>
                                        <option value="0" disabled>- Seleccione un talle- </option>
                                        <% allSizes.forEach(size => { %>
                                        <option value="<%= size.id %>"<% if (product.sizeId == size.id) { %><%= 'selected' %><% }; %>><%= size.name %></option>
                                        <% }); %>
                                    </select>
                                </div>
                                <div class="fr_email">
                                    <label class="fr_lbltexto" for="stock"> Stock</label>
                                    <input type="text" name="stock" id="" value="<%= product.stock %>" required>
                                </div>
                                <div class="fr_email">
                                    <label class="fr_lbltexto" for="stock_min"> Stock Minimo</label>
                                    <input type="text" name="stock_min" id="" value="<%= product.stock_min %>">
                                </div>
                                <div class="fr_email">
                                    <label class="fr_lbltexto" for="stock_max"> Stock Maximo</label>
                                    <input type="text" name="stock_max" id="" value="<%= product.stock_max %>" >
                                </div>
                                <div class="fr_email">
                                    <%i=0%>
                                    <% product.images.forEach( image => { %>
                                        <article>
                                            <img src="/images/<%= image.name %>" alt="" class="avatar">
                                            <input type="file" name=<%= "image" + ++i%>>
                                        </article>
                                    <% }) %>
                                </div>
                                
                                
                                <div class="fr_email check-x">
                                    <label for="home" class="fr_lbltexto"> Destacado Home </label> 
                                      <input type="checkbox" name="home" id="" value="<%= product.home %>" <% if (product.home == 0) { %> checked <% } %>>
                            </div>
                            <div class="fr_email">
                                <label for="visibilityId" class="fr_lbltexto"> Visibilidad </label>
                                <select name="visibilityId" id="" required>
                                    <option value="0" disabled>- Seleccione Visibilidad del producto- </option>
                                    <% allVisibilities.forEach(visibility => { %>
                                    <option value="<%= visibility.id %>"<% if (product.visibilityId == visibility.id) { %><%= 'selected' %><% }; %>><%= visibility.name %></option>
                                    <% }); %>
                                </select>
                            </div>
                                <!--</div>-->
                                <br><br><br>
                                <div class="flex">
                                    <div>
                                        <button type="submit" class="pd_gl-cta pd_gl-cta--primary">
                                            <span class="pd_gl-cta__content">
                                                Editar Producto
                                            </span>
                                        </button>
                                    </div>
                                    <div class="p20">
                                        <button type="button" class="pd_gl-cta pd_gl-cta--primary">
                                            <span class="pd_gl-cta__content">
                                        <a class="botonBorrar" href="/product">Cancelar</a>
                                    </span>
                                </button>
                                    </div>
                                </div>
                            </form> 
                        </div>
                    </div>
                </div>
            </section>

            <section id="pd_detalle"></section>

            <%- include('../partials/newsletter') %>

            <%- include('../partials/prefooter') %>
        </main>

        <%- include('../partials/footer') %>

            <!-- Bootstrap Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
                crossorigin="anonymous"></script>

</body>

</html>