<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
        
        <main>
            <div class="container">
                <br>
                <div class="pd_tit-categoria p40">Carrito</div>
                <p class="carrito">TOTAL:(4 Productos): <strong>$7986</strong></p>
                <div class="agrupar-carrito">
                    <section class="carro">
                        <article class="producto-en-carro">
                            <div class="pd_producto-img">
                                <div class="pd_prod-left"><img src="/images/detalle-producto1.jpg" alt="Remeras Hombre"></div>
                                <div class="pd_prod-rigt">
                                <h1>Remera Basica de Algodon</h1>
                                <p class="pd_prod-precio">$1645</p>
                                <label for="color" class="pd_label">Elegir Color</label>
                                <select name="color" id="color" placeholder="Seleccione un Color"><option value="Negro">Negro</option><option value="Blanco">Blanco</option><option value="Rojo">Rojo</option><option value="Azul">Azul</option></select>
                                <br><br><br><label for="color" class="pd_label">Elegir Talle</label>
                                <div class="radio-talles">
                                    <input type="radio" name="talle" id="S">
                                    <label for="S" class="label-talle">S</label>
                                    <input type="radio" name="talle" id="M">
                                    <label for="M" class="label-talle">M</label>
                                    <input type="radio" name="talle" id="L">
                                    <label for="L" class="label-talle">L</label>
                                    <input type="radio" name="talle" id="XL">
                                    <label for="XL" class="label-talle">XL</label>
                                </div>
                                <div class="guias"><div class="guia-left"><a href="#"><i class="pe-7s-bookmarks"></i> Guia de talles</a></div><div class="guia-right"><a href="#"><i class="pe-7s-box1"></i> Envios y cambios</a></div></div>
                                <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                <input type="text" value="1">
                                <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                <button class="trash"><i class="fa fa-trash"></i></button>
                                </div>
                            </div>
                        </article>
                        <article class="producto-en-carro">
                            <div class="pd_producto-img">
                                <div class="pd_prod-left"><img src="/images/detalle-producto2.jpg" alt="Remeras Hombre"></div>
                                <div class="pd_prod-rigt">
                                <h1>Remera Basica de Algodon</h1>
                                <p class="pd_prod-precio">$1645</p>
                                <label for="color" class="pd_label">Elegir Color</label>
                                <select name="color" id="color" placeholder="Seleccione un Color"><option value="Negro">Negro</option><option value="Blanco">Blanco</option><option value="Rojo">Rojo</option><option value="Azul">Azul</option></select>
                                <br><br><br><label for="color" class="pd_label">Elegir Talle</label>
                                <div class="radio-talles">
                                    <input type="radio" name="talle" id="S">
                                    <label for="S" class="label-talle">S</label>
                                    <input type="radio" name="talle" id="M">
                                    <label for="M" class="label-talle">M</label>
                                    <input type="radio" name="talle" id="L">
                                    <label for="L" class="label-talle">L</label>
                                    <input type="radio" name="talle" id="XL">
                                    <label for="XL" class="label-talle">XL</label>
                                </div>
                                <div class="guias"><div class="guia-left"><a href="#"><i class="pe-7s-bookmarks"></i> Guia de talles</a></div><div class="guia-right"><a href="#"><i class="pe-7s-box1"></i> Envios y cambios</a></div></div>
                                <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                <input type="text" value="1">
                                <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                <button class="trash"><i class="fa fa-trash"></i></button>
                                </div>
                            </div>
                        </article>
                        <article class="producto-en-carro">
                            <div class="pd_producto-img">
                                <div class="pd_prod-left"><img src="/images/detalle-producto3.jpg" alt="Remeras Hombre"></div>
                                <div class="pd_prod-rigt">
                                <h1>Remera Basica de Algodon</h1>
                                <p class="pd_prod-precio">$1645</p>
                                <label for="color" class="pd_label">Elegir Color</label>
                                <select name="color" id="color" placeholder="Seleccione un Color"><option value="Negro">Negro</option><option value="Blanco">Blanco</option><option value="Rojo">Rojo</option><option value="Azul">Azul</option></select>
                                <br><br><br><label for="color" class="pd_label">Elegir Talle</label>
                                <div class="radio-talles">
                                    <input type="radio" name="talle" id="S">
                                    <label for="S" class="label-talle">S</label>
                                    <input type="radio" name="talle" id="M">
                                    <label for="M" class="label-talle">M</label>
                                    <input type="radio" name="talle" id="L">
                                    <label for="L" class="label-talle">L</label>
                                    <input type="radio" name="talle" id="XL">
                                    <label for="XL" class="label-talle">XL</label>
                                </div>
                                <div class="guias"><div class="guia-left"><a href="#"><i class="pe-7s-bookmarks"></i> Guia de talles</a></div><div class="guia-right"><a href="#"><i class="pe-7s-box1"></i> Envios y cambios</a></div></div>
                                <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                <input type="text" value="1">
                                <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                <button class="trash"><i class="fa fa-trash"></i></button>
                                </div>
                            </div>
                        </article>
                        <article class="producto-en-carro">
                            <div class="pd_producto-img">
                                <div class="pd_prod-left"><img src="/images/detalle-producto4.jpg" alt="Remeras Hombre"></div>
                                <div class="pd_prod-rigt">
                                <h1>Remera Basica de Algodon</h1>
                                <p class="pd_prod-precio">$1645</p>
                                <label for="color" class="pd_label">Elegir Color</label>
                                <select name="color" id="color" placeholder="Seleccione un Color"><option value="Negro">Negro</option><option value="Blanco">Blanco</option><option value="Rojo">Rojo</option><option value="Azul">Azul</option></select>
                                <br><br><br><label for="color" class="pd_label">Elegir Talle</label>
                                <div class="radio-talles">
                                    <input type="radio" name="talle" id="S">
                                    <label for="S" class="label-talle">S</label>
                                    <input type="radio" name="talle" id="M">
                                    <label for="M" class="label-talle">M</label>
                                    <input type="radio" name="talle" id="L">
                                    <label for="L" class="label-talle">L</label>
                                    <input type="radio" name="talle" id="XL">
                                    <label for="XL" class="label-talle">XL</label>
                                </div>
                                <div class="guias"><div class="guia-left"><a href="#"><i class="pe-7s-bookmarks"></i> Guia de talles</a></div><div class="guia-right"><a href="#"><i class="pe-7s-box1"></i> Envios y cambios</a></div></div>
                                <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                <input type="text" value="1">
                                <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                <button class="trash"><i class="fa fa-trash"></i></button>
                                </div>
                            </div>
                        </article>
                        <div>
                        <button type="button" class="pd_gl-cta pd_gl-cta--primary right"><span class="pd_gl-cta__content"><a href="/users/login">Ir a Pagar</a></span></button>
                       </div>
                    </section>
                       
                    <section class="resumen-ayuda">
                        <div class="Resumen">
                            <button type="button" onclick="location.href='/users/login'" class="carro-pagar">IR A PAGAR</button>
                            <div class="resumen-pedido">
                                <h3>RESUMEN DEL PEDIDO</h3>
                                <p class="Prod">Remera Basica de Algodon</p>
                                <p class="Prec">$1650</p>
                                <p class="Prod">Remera Basica de Algodon</p>
                                <p class="Prec">$1650</p>
                                <p class="Prod">Remera Basica de Algodon</p>
                                <p class="Prec">$1650</p>
                                <p class="Prod">Remera Basica de Algodon</p>
                                <p class="Prec">$1650</p>
                                <p class="Prod">Envio</p>
                                <p class="Env">$1800</p>
                                <p class="Prod">Total</p>
                                <p class="Prec">$6600</p>
                                <p class="Prod">(Total + IVA)</p>
                                <p class="Prec">$7986</p>
                            </div>
                            <div class="codigo">
                                <input type="text" placeholder="Codigo Promocional" id="codigo-prom" name="codigo-prom" class="codigo-prom"><br>
                            </div>

                        </div>
                        <div class="ayuda">
                            <h3>¿NECESITAS AYUDA?</h3>
                            <ul class="enlaces-ayuda">
                                <li><a href="#">¿Mi producto llegara a tiempo?</a></li>
                                <li><a href="#">¿Con cuantas cuotas cuento?</a></li>
                                <li><a href="#">¿Son las cuotas sin intereses?</a></li>
                                <li><a href="#">¿Es seguro comprar en linea?</a></li>
                            </ul>
                        </div>
                        <div class="Opciones">
                            <h3>OPCIONES DE PAGO</h3>
                            <img src="/images/op1.png" alt="visa">
                            <img src="/images/op2.png" alt="mastercard">
                            <img src="/images/op3.PNG" alt="mercadopago">
                            <img src="/images/op4.PNG" alt="bitcoin">
                        </div>
                        <div class="pd_prod-rigt3">
                            <h2>UNITE AL WEBYTE. <br>OBTENÉ BENEFICIOS</h2>
                                <p class="fr-destacado"> ✓ Disfrutá inmediatamente de todos los beneficios y descuentos</p>
                                <p class="fr-destacado"> ✓ Accedé a la venta de productos de edición limitada</p>
                                <p class="fr-destacado"> ✓ Recibí nuestras mejores ofertas y promociones</p>
                                <p class="fr-destacado"> ✓ Es hora de desbloquear lo mejor de WEBYTE.</p>
                        
                        </div>
                    </section>

                </div>
            </div>
            <%- include('../partials/newsletter') %>

            <%- include('../partials/prefooter') %>
        </main>
        
        <%- include('../partials/footer') %>

        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    </body>
</html>