<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
        
        <main id="pd_main-container">
                <div class="container">
                    <div class="link-ruta">
                        <nav>
                            <ul>
                                <li>></li>
                                <li><a href="/"><strong>Atras</strong></a></li>
                                <li>/</li>
                                <li><a href="/admin">Administrador</a></li>   
                            </ul>
                        </nav>
                    </div>
                    <div class="pd_tit-categoria">Estados </div>
                </div>

            <section id="pd_listado-products" >
                <div class="container">
                    <div>    
                        <form action="/visibility/create" method="POST">
                        <div class="fr_nombre">
                            <label class="fr_lbltexto">ABM Estados</label>
                            <input type="text" name="name" id="" required>
                        </div>
                        <br>
                        <div class="fr_registro">
                            <div class="fr_registro-left">
                                <button type="submit" class="pd_gl-cta pd_gl-cta--primary">
                                    <span class="pd_gl-cta__content">
                                        Crear
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form> 
                     </div>
                     <br><hr><br>
                     <label class="fr_lbltexto">Listado de Estados</label>
                    <ul>
                        <% for( let i = 0; i < visibilities.length; i++ ) { %>
                        <li class="listado">
                            <a href="visibility/detail/<%= visibilities[i].id %>"><%= visibilities[i].name %></a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </section>
        
            <%- include('../partials/newsletter') %>

            <%- include('../partials/prefooter') %>
        </main>
        
        <%- include('../partials/footer') %>

        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    </body>
</html>