<div class="novedad d-sm-block">
    <article>
        <a href="/product/<%= product.id%>"> 
            <img src="/images/<%= product.image %>" alt="<%= product.name %>" class="pd_img-list">
            <div class="prod-info">
                <p class="section"><%= product.category %></p>
                <h4><%= product.name %></h4>
                <p class="precio">$<%= product.price %></p>
            </div>
        </a>
    </article>
</div>