<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

    <body class="register">

        <%- include('../partials/header') %>

            <main id="pd_main-container">
                <section id="pd_main-producto_">
                    <div class="container">
                        <br>
                        <div class="pd_tit-categoria p40">Registrate</div>
                        <div class="fr_text">Ya estas registrado? <a href="login">Inicia Sesión</a></div>
                        <div class="pd_producto-img">
                            <div class="pd_prod-left">
                                <form action="/users/create" id="form-registro" method="POST"
                                    enctype="multipart/form-data">

                                    <label for="firstName">Nombre</label>
                                    <input type="text" name="firstName" id="firstName"
                                        value="<%= locals && locals.oldData ? oldData.firstName : null %>"
                                        class="control <%= locals.errors && errors.firstName ? 'is-invalid' : null %>">
                                    <span id="firstName_error" class="error is-invalid">
                                        <%= locals && locals.errors && locals.errors.firstName &&
                                            locals.errors.firstName.msg %>
                                    </span>
                                    <br>

                                    <label for="lastName">Apellido</label>
                                    <input type="text" name="lastName" id="lastName"
                                        value="<%= locals && locals.oldData ? oldData.lastName : null %>"
                                        class="control <%= locals.errors && errors.lastName ? 'is-invalid' : null %>">
                                    <span id="lastName_error" class="error is-invalid">
                                        <%= locals && locals.errors && locals.errors.lastName &&
                                            locals.errors.lastName.msg %>
                                    </span>
                                    <br>

                                    <label for="userName">Usuario</label>
                                    <input type="text" name="userName" id="userName"
                                        value="<%= locals && locals.oldData ? oldData.userName : null %>"
                                        class="control <%= locals.errors && errors.userName ? 'is-invalid' : null %>">
                                    <span id="userName_error" class="error is-invalid">
                                        <%= locals && locals.errors && locals.errors.userName &&
                                            locals.errors.userName.msg %>
                                    </span>
                                    <br>

                                    <label for="email">Email</label>
                                    <input type="text" name="email" id="email"
                                        value="<%= locals && locals.oldData ? oldData.email : null %>"
                                        class="control <%= locals.errors && errors.email ? 'is-invalid' : null %>">
                                    <span id="email_error" class="error is-invalid">
                                        <%= locals && locals.errors && locals.errors.email && locals.errors.email.msg %>
                                    </span>
                                    <br>

                                    <label for="password">Contraseña</label>
                                    <input type="password" name="password" id="password"
                                        value="<%= locals && locals.oldData ? oldData.password : null %>"
                                        class="control <%= locals.errors && errors.password ? 'is-invalid' : null %>">
                                    <span id="password_error" class="error is-invalid">
                                        <%= locals && locals.errors && locals.errors.password &&
                                            locals.errors.password.msg %>
                                    </span>
                                    <br>

                                    <label for="repassword">Repeti la contraseña</label>
                                    <input type="password" name="repassword" id="repassword"
                                        value="<%= locals && locals.oldData ? oldData.repassword : null %>"
                                        class="control <%= locals.errors && errors.repassword ? 'is-invalid' : null %>">
                                    <span id="repassword_error" class="error is-invalid">
                                        <%= locals && locals.errors && locals.errors.repassword &&
                                            locals.errors.repassword.msg %>
                                    </span>
                                    <br>

                                    <label for="avatar">Avatar</label>
                                    <input type="file" name="avatar" id="avatar" accept=".jpg, .png, .gif"
                                        class="control <%= locals && locals.errors && errors.avatar ? 'is-invalid' : null %>">
                                    <input type="hidden" name="oldAvatar"
                                        value="<%= locals.oldData ? oldData.avatar : '' %>">
                                    <span id="avatar_error" class="error is-invalid">
                                        <%= locals && locals.errors && locals.errors.avatar && locals.errors.avatar.msg
                                            %>
                                    </span>
                                    <br>

                                    <label for="rolId">Rol</label>
                                    <select name="rolId" id="rolId" class="control <%= locals.errors && errors.rolId ? 'is-invalid' : null %>" >
                                        <option value="" >- Seleccione tipo de Usuario - </option>
                                        <% roles.forEach(rol=> { %>
                                            <option value="<%= rol.id %>" <% if (locals && locals.oldData && oldData.rolId==rol.id) { %> selected="selected" <% } %> >
                                                <%= rol.name %>
                                            </option>
                                        <% }); %>
                                    </select>
                                    <div id="rol_error" class="error is-invalid">
                                        <%= locals && locals.errors && locals.errors.rolId && locals.errors.rolId.msg %>
                                    </div>

                                    <br><br><br>
                                    <button type="submit" class="pd_gl-cta pd_gl-cta--primary" id="btn-reg">
                                        <span class="pd_gl-cta__content">
                                            Registrate
                                        </span>
                                    </button>
                                </form>
                            </div>
                            <div class="pd_prod-rigt3">
                                <h2>UNITE AL WEBYTE. OBTENÉ BENEFICIOS</h2>
                                <p class="fr-destacado"> ✓ Disfrutá inmediatamente de todos los beneficios y descuentos
                                </p>
                                <p class="fr-destacado"> ✓ Accedé a la venta de productos de edición limitada</p>
                                <p class="fr-destacado"> ✓ Recibí nuestras mejores ofertas y promociones</p>
                                <p class="fr-destacado"> ✓ Es hora de desbloquear lo mejor de WEBYTE.</p>

                            </div>
                        </div>
                    </div>
                </section>

                <section id="pd_detalle"></section>

                <%- include('../partials/newsletter') %>

                    <%- include('../partials/prefooter') %>
            </main>

            <%- include('../partials/footer') %>
            <script src="/js/validator/form-register-validation.js"></script>

            <!-- Bootstrap Bundle with Popper -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>


    </body>

</html>